.root {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.scroller {
  width: 100vw;
}

.viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  will-change: transform;
}
